<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>

<body>
    <div class="bg-red-400">
        <div class="p-4 text-red-900 flex justify-end space-x-4">
            <a class="duration-300 hover:text-red-300" href="#">Requête SQL</a>
            <a class="duration-300 hover:text-red-300" href="#">Déconexion</a>
        </div>
    </div>
    <div class="bg-red-800 min-h-screen mx-auto flex flex-col items-center justify-center relative">
        <table class="bg-white mt-8">
            <tr class="border border-black rounded">
                <td class="border border-black p-2 bg-gray-400">Table</td>
                <td class="border border-black p-2 bg-gray-400">Engine</td>
                <td class="border border-black p-2 bg-gray-400">Collation</td>
                <td class="border border-black p-2 bg-gray-400">Data Length</td>
                <td class="border border-black p-2 bg-gray-400">Index Length</td>
                <td class="border border-black p-2 bg-gray-400">Data Free</td>
                <td class="border border-black p-2 bg-gray-400">Auto Increment</td>
                <td class="border border-black p-2 bg-gray-400">Rows</td>
            </tr>
            {% for table in tables %}
            <a href="#" class="hover:bg-gray-200 duration-300">
                <tr class="border border-black bg-white p-2"></tr>
                {% for key, column in table %}
                {% if key == 'TABLE_NAME' %}
                <td class="border border-black p-2"><a href="#" class="text-blue-700 underline hover:text-blue-900">{{
                        column }}</a></td>
                {% else %}
                <td class="border border-black p-2">{{ column }}</td>
                {% endif %}
                {% endfor %}
                </tr>
            </a>
            {% endfor %}
        </table>
    </div>
</body>

</html>
