<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>

<body>
    <div class="bg-red-400">
        <div class="p-4 text-red-900 flex justify-end space-x-4">
            <a class="duration-300 hover:text-red-300" href="#">Requête SQL</a>
            <a class="duration-300 hover:text-red-300" href="#">Déconexion</a>
        </div>
    </div>
    <div class="bg-red-800 min-h-screen mx-auto flex flex-col items-center pt-24">
        <div>
            <h1 class="font-bold text-red-200 text-4xl">Base de données</h1>
        </div>
        <div class="mx-auto flex flex-col mt-4 rounded">
            {% for database in databases %}
            {% for key, name in database %}
            <a href="/database/{{ name }}"
                class="bg-red-400 text-red-900 underline hover:text-red-600 duration-200 py-1 px-2 border border-red-800 rounded">
                {{ name }}
            </a>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>

</html>
